html {
  height: 100%;
  width: 100%;
  background-color: #e4e3e3;
}

body {
  height: 100%;
  width: 100%;
}

.total-container {
  display: flex;
  flex-direction: row;
}

/* Nav-Bar */

.nav-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20vw;
  height: 100vh;
  background-color: white;
  border-right: 1px solid rgb(214, 211, 211);
}

/* title-bar */

.title-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 10vh;
  /* background-color: white; */
  border-bottom: 1px solid rgb(214, 211, 211);
}

.title {
  position: absolute;
  left: 20px;
  font-family: "Recursive", sans-serif;
  color: #68d388;
}

.settings {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main-section */

.main-section {
  display: flex;
  flex-direction: row;
}

.tableCell {
  text-align: center;
}

.inputDirection {
  display: "flex";
  flex-direction: "row";
  margin: "0 auto";
}

.links {
  text-decoration: none;
  color: #ffb766;
}

.myLinks {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1025px) {
  .nav-bar-wrapper {
    width: 10%;
  }
}

@media (max-width: 850px) {
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title-bar {
    height: 5vh;
    margin-bottom: 20px;
  }
  .title {
    position: absolute;
    left: 10px;
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .nav-bar-wrapper {
    padding-top: 1vh;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    z-index: 2;
  }
}
